Common/build/
Common/CMakeFiles/
Common/cmake_install.cmake
Common/CTestTestfile.cmake
Common/Makefile
Common/install_manifest.txt
Common/CMakeCache.txt
Common/test/build/
Common/test/CMakeFiles/
Common/test/cmake_install.cmake
Common/test/CTestTestfile.cmake
Common/test/Makefile
Common/test/install_manifest.txt
Common/test/CMakeCache.txt
Common/test/Test


.idea/
build/
*.exe
*.o
*.so
*.pro.user
*.pro.user.*
*.autosave
*.user
**conflicted*
*~

*.log
*.sql
*.sqlite

.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db
*.swn
*.swo
*.swp
